.font {
    font-family: "Raleway", sans-serif;
}

/* banner style */

header {
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    height: 698px;
    width: auto;
    flex-direction: column;
    margin-bottom: 116px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #4E47FF;
  font-size: 35px;
}
.banner-btn {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.banner-btn:hover {
    background-color: darkblue;
}

.banner-intro {
    display: flex;
    gap: 1041px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.banner-description {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
}


.banner-title {
  font-weight: bold;
  text-align: center;
  color: #252432;
  font-size: 65px;
}
/* shared style */
.signup-btn {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 35px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.signup-btn:hover {
    background-color: darkblue;
}

/* action styles */

.action-title {
    font-weight: bold;
    /* text-align: center; */
    color: #252432;
    font-size: 42px;
}

.action-sub {
    font-size: 24px;
    font-weight: normal;
    color: rgba(42, 36, 50, 0.5);
    
    
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 145px;
    gap: 40px;
    flex-wrap: wrap;
}
.action-btn{
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    cursor: pointer;

}
.action-btn:hover {
    background-color: darkblue;
}
.action-img {
    border: none;
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

/* productive style */
.productive-user {
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    padding: 40px 20px;
    /* margin-top: 115px; */
    border-radius: 24px;
    width: 1140px;
    height: 305px;
    margin: 115px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prod-title {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-top: 80px;
    margin-left: 142px;
    margin-right: 142px; 
    text-align: center;
}
.box-title {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.cards {
    display: flex;
    gap: 167px;
    justify-content: center;
    margin: 0 9px 24px 9px;
} 
.box-sub {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -80px;
    text-align: center;
}
/* touch style */

.touch {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 632px;
    background-color: #F4F7FF;
    gap: 100px;
    margin: 93px 150px 0 150px;
    padding: 80px 100px;
}
.touch-title {
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
}
.touch-colmn form{
    max-width: 400px;
    width: 100%;
}
/* form {
    display: flex;
    flex-direction: column;
    
} */
.colmn-name {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin-bottom: 6px;
    display: block;
}

.col-sub {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 32px;
    border-radius: 10px;
    border: none;
    padding: 12px 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
textarea.col-sub {
    resize: vertical;
}
.tch-btn{
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    width: 100%;
    margin-top: 12px;
    cursor: pointer;
    text-align: center;
    
}
.tch-btn:hover {
    background-color: darkblue;
}

/* footer styles*/
.foot{
    background-color: #FFFFFF;
    width: 1140px;
    height: 428px;
    text-align: center;   
    margin: 104px 455px 104px 455px;
}
.footer-content{
    max-width: 800px;
    display: flex;
    
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.footer-title{
    font-size: 100px;
    font-weight: 1000;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    align-items: center;
    margin: 0 120px 8px 120px;
}
.footer-sub{
    color: #8987A1;
    text-align: center;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-links a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}
.star {
    justify-content: center;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #f9f9ff;
    padding: 60px 20px;
}
.review {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 40px;
    flex-wrap: wrap;

}
.title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
}
.card-sub{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    margin-top: 16px;
}
.card-para{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #1E1E1E;
    line-height: 140%;
    margin-top: 8px;
}
.rname{
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter",sans-serif;
    color: #757575;
    margin: 0;
}
.rdate{
    font-size: 16px;
    font-weight: normal;
    font-family: "Inter", sans-serif;
    color: #B3B3B3;
    margin: 2px 0 0;
}
.img{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
}
.img2{
    border: none;
    border-radius: 9999px;
    width: 40px;
    height: 40px;
}
.img-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

}