
.font {
    font-family: "Raleway", sans-serif;
}

/* banner style */

header {
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    height: 698px;
    width: auto;
    flex-direction: column;
    margin-bottom: 116px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #4E47FF;
  font-size: 35px;
}
.banner-btn {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.banner-btn:hover {
    background-color: darkblue;
}

.banner-intro {
    display: flex;
    gap: 1041px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.banner-description {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
}


.banner-title {
  font-weight: bold;
  text-align: center;
  color: #252432;
  font-size: 65px;
}
/* shared style */
.signup-btn {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 35px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.signup-btn:hover {
    background-color: darkblue;
}

/* action styles */

.action-title {
    font-weight: bold;
    /* text-align: center; */
    color: #252432
    font-size: 42px;
}

.action-sub {
    font-size: 24px;
    font-weight: normal;
    color: rgb(42, 36, 50, 50%);
    
    
}
.action {
    display: flex;
    justify-content: space-between;
}
.action-btn{
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    cursor: pointer;

}
.action-btn:hover {
    background-color: darkblue;
}
.action-img {
    border: none;
    border-radius: 48px;
    width: 403px;
    height: 328px;
}